/* ICOMOON icons */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?k3eb43');
    src:  url('../fonts/icomoon.eot?k3eb43#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?k3eb43') format('truetype'),
      url('../fonts/icomoon.woff?k3eb43') format('woff'),
      url('../fonts/icomoon.svg?k3eb43#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #000;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-clipboard,
  .icon-pencil2,
  .icon-wrench,
  .icon-rocket{
    display: block;  
    font-size: 3.8rem;
    margin-bottom: 35px;
  }
  .icon-pencil2:before {
    content: "\e906";
  }
  .icon-paint-format:before {
    content: "\e90c";
  }
  .icon-phone:before {
    content: "\e942";
  }
  .icon-clock:before {
    content: "\e94e";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-wrench:before {
    content: "\e991";
  }
  .icon-clipboard:before {
    content: "\e9b8";
  }
  .icon-heart:before {
    content: "\e9da";
  }
  .icon-arrow-right2:before {
    content: "\ea3c";
  }
  .icon-mail3:before {
    content: "\ea85";
  }
  .icon-facebook2:before {
    content: "\ea91";
  }
  .icon-linkedin:before {
    content: "\eac9";
  }
  .icon-rocket:before {
    content: "\e9a5";
  }
  
/* GLOBAL */
html{
    font-size: 1.1rem;
}
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
p{
    text-align: center;
}

li{
    list-style-type: none;
}
h1, h2, h3, h4, a, nav {
    padding: 0;
    margin: 0;
}
.container-fluid{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.col-1-2{
    width: 50%
}

.flex-container {
    display: flex;
   
}

.flex-container--column{
    flex-direction: column;
    align-items: center;    
}

/* LANDING PAGE */
/* Header */
.site-header{ 
    background-image: url("../../optimize_img/window-comp.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-opacity{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .4);
}

.header > .flex-container{
    justify-content: space-between;
}

/* STICKY */
.container-fluid.sticky{
    justify-content: center;
}
.sticky{
    position: fixed;
    top: 0;
}
.sticky-background{
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

/* Navigation */
nav li{
    float: left;
}
nav a{
    display: block;
    padding: 1.875rem 1.5625rem 0.9225rem;
    color: #ffffff;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    /* border: 1px solid white; */
}
nav a:hover{
    border-bottom: 1px solid white;
    transition: 1s ease-in;
}


/* Hero */
.container.hero{
    margin-top: 8.75rem;  /*150px*/ 
}

.hero{
    color: #ffffff; /* Fallback color */
    color: rgba(255, 255, 255, 0.8);
}

.hero h1{
    font-size: 4.5rem;
    letter-spacing: 0.1em;
    padding-bottom: 0.3em;
    font-family: 'Kaushan Script', cursive;
}

.hero h2{
    font-size: 9.375rem;
    font-family: 'Lora', serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    padding-bottom: 0.25em;
}
.hero h2::after{
    display: block;
    padding: 0.1em 0;
    margin: 0 auto;
    content: "";
    width: 0.4em;
    border-bottom: 1px solid white;
}

.hero a{
    font-size: 1.25rem;
    display:inline-block;
    margin-top: 4em;
    text-transform: uppercase;
    padding: 0.75em 1.5em;
    color: white;
    border: 1px solid white;
}

.hero a:hover{
    background-color:  white;
    color: #000;
    transition: 1s ease;
}

/* ABOUT */

.about{
    margin-top: 8.75rem;
}

.about h3,
.about p{
    text-align: left;
}

.about h3{
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.about  p{
    line-height: 1.75rem;
    color: #797979;
}

.self-img{
    display: inline-block;
    position: relative;
    -webkit-box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.3);
}

.self-img::after{
    position: absolute;
    display: inline-block;
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 25px -25px 0px -10px rgba(255, 255, 255, 1);
    -moz-box-shadow: 25px -25px 0px -10px rgba(255, 255, 255, 1);
    box-shadow: 25px -25px 0px -10px rgba(255, 255, 255, 1);
}

.about-work p{
    text-align: center;
}

.flex-container.about-work{
    margin-top: 6.8rem;
}






