@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut{
    from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
  }

/* GLOBAL */
html{
    font-size: 16px;
}
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

p{
    text-align: center;
}

.container-fluid{
    width: 100%;
}
.container{
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

.container-small{
    max-width: 800px;

}

.col-1-2{
    width: 50%
}

.col-1-3{
    width: 33.3%;
  
}
.col-1-4{
    width: 25%;
    h4{
        font-size: 1.5rem;
    }  
}

.col-3-4{
    width: 75%;
}
.col-2-5{
    width: 40%;
}
.col-3-5{
    width: 60%
}
.col-7-10{
    width: 70%;
}
.col-3-10{
    width: 30%;
}

h3, p{
    text-align: left;
}

h3{
    font-size: 1.875rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}
p{
    line-height: 1.75;
    color: #797979; 
}

.flex-container {
    display: flex;
    justify-content: center; 
}

.flex-container--column{
    flex-direction: column;
    align-items: center;    
}

.flex-wrap{
    flex-wrap: wrap;
}

/* LANDING PAGE */
/* Header */
.site-header{ 
    background-image: url("../../../optimize_img/window-comp.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
}

.img-opacity{
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .3);
}

.header {
    .flex-container{
        justify-content: space-between;
    }
}

/* STICKY */
.sticky{
    position: fixed;
    justify-content: center;
    top: 0;
}
.sticky-background{
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
}

/* Navigation */
nav {
    li{
        float: left;
    }
    a{
        display: block;
        padding: 1.875rem 1.5625rem 0.9225rem;
        color: #ffffff;
        text-transform: uppercase;
        border-bottom: 1px solid transparent;
        
        &:hover{
            border-bottom: 1px solid white;
            transition: 1s ease-in;
        }

    }
}// END OF NAV

//START HERO
/* Hero */
.hero{
    margin-top: 8.75rem;  /*150px*/ 
    color: #ffffff; /* Fallback color */
    color: rgba(255, 255, 255, 0.8);

    h1{
        font-size: 4.5rem;
        letter-spacing: 0.1rem;
        padding-bottom: 0.3rem;
        margin-bottom: 3.125rem;
        font-family: 'Kaushan Script', cursive;
    }

    h2{
        font-size: 9.375rem;
        font-family: 'Lora', serif;
        font-weight: 700;
        letter-spacing: 0.02rem;
        padding-bottom: 0.25rem;

        &::after{
            display: block;
            padding: 0.1rem 0;
            margin: 0 auto;
            content: "";
            width: 50px;
            border-bottom: 1px solid white;
        }
    }

    a{
        font-size: 1.25rem;
        display:inline-block;
        margin-top: 4rem;
        text-transform: uppercase;
        padding: 0.75rem 1.5rem;
        color: white;
        border: 1px solid white;

        &:hover{
            background-color:  white;
            color: #000;
            transition: 1s ease;
        }
    }
}// END HERO

// START ABOUT
/* ABOUT */
.about{
    margin-top: 8.75rem;
}// END ABOUT


.self-img{
    display: inline-block;
    position: relative;
    // z-index: -1;
    -webkit-box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.3);
    box-shadow: 25px -25px 0px 0px rgba(0,0,0,0.3);

    &::after{
        position: absolute;
        display: inline-block;
        content: "";
        top:0;
        left:0;
        // z-index: -1;
        width: 100%;
        height: 100%;
        -webkit-box-shadow: 25px -25px 0px -10px rgba(255, 255, 255, 1);
        -moz-box-shadow: 25px -25px 0px -10px rgba(255, 255, 255, 1);
        box-shadow: 25px -25px 0px -10px rgb(255, 255, 255);
    }
}

.about-work{
    margin-top: 6.8rem;
    p{
        text-align: center;
        padding: 0 10px;
    }
}

//SEPARATION START

.separation{
    height: 225px;
    margin-top: 110px;
    background-color: #797979;
    color: white;

    .flex-container{
        justify-content: center;
    }

    .container{
        margin-top: 3.4rem;
    }
} //Separation end

//LATEST WORK START
/*Latest work START*/
.latest-work{
    margin-top: 6.8rem;

    .container{
        text-align: right;
        
        h2{
            text-align: left;
            font-size: 1.875rem;
            text-transform: uppercase;
            margin-bottom: 5rem;
        }  
    }
}

//Latest work CARDS
.latest-work--cards{
    margin-bottom: 3.4rem;
    &.flex-container{
        flex-wrap: wrap;
    }
}

// Latest work CARDS img inner code
.img-container{
    margin: 8px;
    position: relative;

    img{
        display: block;
        width: 100%;
        height: auto;
    }
    .overlay{
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.6);
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .4s ease;
    }
    &:hover{
        -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.75);
        transition: .4s ease;
    }
    // ONHOVER adds SHADOW
    &:hover .overlay {
        bottom: 0;
        height: 100%;
    }
    // ONHOVER makes card bigger
    &:hover .overlay,
    &:hover img{
        transform: scale(1.05);
        transition: .4s ease;
    }

    .text {
        white-space: nowrap; 
        color: white;
        font-size: 1.25rem;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -webkit-margin-before: 0px;
        -webkit-margin-after: 0px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    } 
}// END of Latest work CARDS img inner code

// VIEW MORE
.view-more{
    a{
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 700;
        color: #000;
        i{
            margin-left: 35px;
        }
    }      
}
// END OF LATEST WORK


// SEPARATION QUOTES START
.separation-quotes {
    height: 300px;
    img{
        border-radius: 50%;
    }
    .container {
        margin-top: 0;
    }
}

blockquote {
    //background: #000;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
      }

    &:after {
    color: #ccc;
    content: close-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.8em;
    }
    
    p {
        display: inline;
        color: white;  
    }
  }


  
// SWIPE
  .swiper-container {
    width: 100%;
    height: 100%;
    z-index: 0;

  }

  .swiper-slide {
    font-size: 1.1rem;
    background: #797979;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    p {
        color: #ffffff;
    }
  }
// SEPARATION QUOTES END

.latest-blog {
    margin-top: 6.8rem;

    .flex-container{
        justify-content: space-around;
    }
}

.card-main {
    max-width: 350px;
    min-height: 250px;
    height: auto;
    //background-color:white;
    margin-bottom: 40px;
    // -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    // box-shadow: 0 4px 20px 0 rgba(0,0,0,0.75);

}



// CARD big and small
.button {
    border: none;
    background: transparent;
  }
  .controller-container {
    margin-bottom: 5%;
    text-align: center;
  }
  .controller {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: inline-block;
    margin: 0 20px;
    font-size: 22px;
    padding: 10px 0;
    color: #FFF;
    position: relative;
    transition: all 100ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .controller:after {
    content: "";
    height: 3px;
    display: block;
    position: absolute;
    bottom: 0;
    width: 0;
    transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #FFF;
  }
  .controller.is_current:after {
    width: 100%;
  }
  .controller:hover,
  .controller.is_current {
    -webkit-transform: translate3d(0, -5px, 0);
            transform: translate3d(0, -5px, 0);
  }
  .card {
    will-change: transform;
    margin: 8px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fafafa;
    height: 35%;
    width: 344px;
    transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  }
  .card__image {
    position: absolute;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repat;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    opacity: 0;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .card__image:after {
    content: "";
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    transition: all 500ms;
    bottom: 0;
  }
  .card__title {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 24px;
    color: #000;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 0 16px;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .card__subtitle {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 14px;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
    left: 200px;
    top: 350px;
    position: absolute;
    padding: 0 16px;
    opacity: 1;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .card__text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 14px;
    display: block;
    left: 0;
    right: 0;
    top: 100px;
    padding: 16px 8px;
    margin: 0;
    line-height: 1.6;
    position: absolute;
    color: #000;
    overflow: hidden;
    text-align: center;
    transition: width 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: delay 0.1s;
  }
  .card__action-bar {
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    padding: 0 8px;
    border-top: 1px solid #E0E0E0;
    box-sizing: border-box;
    height: 40px;
    transition: left 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .card__button {
    outline: none;
    position: relative;
    display: block;
    line-height: 40px;
    padding: 0 16px;
    color: #000;
  }
  
  .card__button:hover{
    color: rgb(82, 82, 255);  /* pakeisti spalva */
  }
  .card--big {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    height: 400px; 
    min-height: 400px;
  }
  .card--big .card__image {
    border-radius: 1px 1px 0 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    max-height: 210px;
  }
  .card--big .card__title {
    top: 220px;
  }
  .card--big .card__text {
    top: 250px;
  }
  .card--big .card__action-bar {
    left: 0;
  }
  .card--small {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    height: 136px;
    min-height: 136px;
  }
  .card--small .card__image {
    border-radius: 1px 0 0 1px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .card--small .card__image:after {
    opacity: 0;
  }
  .card--small .card__title {
    color: #fff;
    z-index: 1;
    text-align: left; 
    top: 124px;
  }
  .card--small .card__subtitle {
    display: none;
  }
  .card--small .card__text {
    top: 30px;
    opacity: 0;
  }
  .card--small .card__action-bar {
    background-color: rgba(0, 0, 0, 0.3)
  }
  
  .card--small .card__button{
    display: none;
  }

// FOOTER 
footer {
    margin-top: 8rem;
    padding-bottom: 5rem;
    background-color: #000;
    color: #fff;
}

.contact{
    margin-top: 6.8rem;
    align-items: flex-start;

    &__text {
        text-align: left;
    }

    &__text h2,p {
        color: #fff;
    }
    &__text h2{
        font-size: 1.875rem;
        margin-bottom: 3.125rem;    
    }
    &__text p {
        margin-right: 7rem;
    }

    &__details{
        justify-content: space-around;
    }

    &__details i{
        margin-right: 1.2rem;
    }
    &__details div > p:nth-child(1){
        margin-bottom: 2rem;
    }
}

//CONTACT FORM
// .form-style-6{
//     font: 95% Arial, Helvetica, sans-serif;
//     max-width: 400px;
//     margin: 10px auto;
//     padding: 16px;
//     //background: #F7F7F7;
// }
// .form-style-6 h1{
//     //background: #43D1AF;
//     padding: 20px 0;
//     font-size: 140%;
//     font-weight: 300;
//     text-align: center;
//     color: #fff;
//     margin: -16px -16px 16px -16px;
// }
// .form-style-6 input[type="text"],
// .form-style-6 input[type="date"],
// .form-style-6 input[type="datetime"],
// .form-style-6 input[type="email"],
// .form-style-6 input[type="number"],
// .form-style-6 input[type="search"],
// .form-style-6 input[type="time"],
// .form-style-6 input[type="url"],
// .form-style-6 textarea,
// .form-style-6 select 
// {
//     -webkit-transition: all 0.30s ease-in-out;
//     -moz-transition: all 0.30s ease-in-out;
//     -ms-transition: all 0.30s ease-in-out;
//     -o-transition: all 0.30s ease-in-out;
//     outline: none;
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     width: 100%;
//     //background: #fff;
//     margin-bottom: 4%;
//     border: 1px solid #ccc;
//     padding: 3%;
//     color: #555;
//     font: 95% Arial, Helvetica, sans-serif;
// }
// .form-style-6 input[type="text"]:focus,
// .form-style-6 input[type="date"]:focus,
// .form-style-6 input[type="datetime"]:focus,
// .form-style-6 input[type="email"]:focus,
// .form-style-6 input[type="number"]:focus,
// .form-style-6 input[type="search"]:focus,
// .form-style-6 input[type="time"]:focus,
// .form-style-6 input[type="url"]:focus,
// .form-style-6 textarea:focus,
// .form-style-6 select:focus
// {
//     //box-shadow: 0 0 5px #43D1AF;
//     padding: 3%;
//     //border: 1px solid #43D1AF;
// }

// .form-style-6 input[type="submit"],
// .form-style-6 input[type="button"]{
//     box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     width: 100%;
//     padding: 3%;
//     //background: #43D1AF;
//     //border-bottom: 2px solid #30C29E;
//     border-top-style: none;
//     border-right-style: none;
//     border-left-style: none;    
//     color: #fff;
// }
// .form-style-6 input[type="submit"]:hover,
// .form-style-6 input[type="button"]:hover{
//    // background: #2EBC99;
// }

// Form outline reset
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px;
    -webkit-appearance:none;
}

footer h3{
    margin-top: 6.8rem;
}
.send-mail{
    //margin-top: 3.4rem;
    form .flex-container{
        align-items: flex-start;
    }

    input, label, textarea {
        display: block;
        font-size: 1.2rem; 
        line-height: 1.75; 
    }
    
    input, textarea{
        margin: 1rem 0;
        background-color: #000;
        color: #fff;
        border: none;
        border-bottom:1px solid #797979;
        width: 100%;
    }
    label {
        font-size: 1rem;
        color: #797979;
    }
    textarea{   
        height: 160px;
        resize: none;
    }

    input::placeholder,
    textarea::placeholder{
        font-size: 1.2rem;
        color: #fff;
    }

    button{
        min-width: 160px;
        height: 50px;
        font-size: 1.2rem;
        font-weight: 700;
        border-radius: 25px;
        margin-top: 1rem;
        border: 1px solid #797979;
        background-color: #000;
        color: #fff;
    }

    button i{
        padding-left: 5px;
        color:white;
    }

    button:hover{
        background-color: #fff;
        color: #000;
        transition: 0.5s;
    }
    button:hover i{
        transition: 0.5s;
        padding-left: 15px;
        color: #000;
    }
    input:focus,
    textarea:focus{
        border-bottom: 1px solid red;
        transition: 1s;
    }


    // Makes placeholder invisible on focus
    input:focus::-webkit-input-placeholder { 
        color:transparent;
    }
    input:focus:-moz-placeholder {
         color:transparent;
    } /* FF 4-18 */
    input:focus::-moz-placeholder { 
        color:transparent; 
    } /* FF 19+ */
    input:focus:-ms-input-placeholder { 
        color:transparent; 
    } /* IE 10+ */
    textarea:focus::-webkit-input-placeholder { color:transparent; }
    textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
}